/* src/global.css */

/* html, body, #root {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a202c !important; 
}

* {
  box-sizing: border-box;
}

.box-centered {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  margin: 0 auto !important;
  position: relative !important;
  z-index: 10 !important;
} */